

    .service-title {
        padding-bottom: 25px;
        background-color: #3b4552;
        font-size: 28px;
        font-weight: normal;
        text-align: center;
        color: white;
    }

    .service-title > i {
        display: block;
        padding-top: 25px;
    }

    .service-title-rubi {
        line-height: 26px;
        font-size: 13px;
    }

    .service-container {
        display: flex;
    }


    .service-item {
        text-align: center;
        width: 50%;
        background-color: white;
    }

    .service-item-title {
        padding-top: 110px;
        padding-bottom: 8px;
        line-height: 64px;
        font-size: 40px;
        font-weight: normal;
        color: #47b39d;
    }

    .service-item-rubi {
        display: inline-block;
        line-height: 21px;
        font-size: 13px;
        padding-bottom: 37px;
    }

    .service-item:nth-child(odd) {
        border-right: 1px #e5e5e5 solid;
    }

    .service-item-button:nth-child(odd) {
        margin-top: 35px;
        width: 240px;
        line-height: 55px;
        border-radius: 8px;
        font-size: 16px;
        color: white;
        background-color: #47b39d;
    }

    .service-item-button {
        margin-bottom: 150px;
        display: inline-block;
        text-align: center;
        width: 235px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 55px;
        color: white;
        background-color: #47b39d;
    }

    .company-title {
        padding-bottom: 25px;
        background-color: #3b4552;
        font-size: 28px;
        font-weight: normal;
        text-align: center;
        color: white;
    }

    .company-title-rubi {
        line-height: 26px;
        font-size: 13px;
    }

    .company-title > i {
        display: block;
        padding-top: 25px;
    }

    .company-container {
        margin-top: 95px;
        margin-bottom: 155px;
    }

    .company-table {
        display: flex;
        width: 93%;
        margin-right: auto;
        margin-left: auto;
        border-top: #e5e5e5 1px solid;
    }

    .company-table:nth-child(3) {
        border-bottom: #e5e5e5 1px solid;
    }

    .company-table-title {
        margin-left: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 135px;
        line-height: 26px;
        font-size: 16px;
    }

    .company-table-item {
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 26px;
        font-size: 16px;
    }

    .inquiry {
        text-align: center;
        background-color: #47b39d;
    }

    .inquiry-title {
        padding-bottom: 25px;
        margin-bottom: 70px;
        background-color: #3b4552;
        font-size: 28px;
        font-weight: normal;
        text-align: center;
        color: white;
    }

    .inquiry-title-rubi {
        line-height: 26px;
        font-size: 13px;
    }

    .inquiru-title > i {
        display: block;
        padding-top: 25px;
    }

    .inquiry-table-title {
        margin-top: 25px;
        line-height: 26px;
        font-size: 16px;
        color: white;
    }

    input {
        width: 600px;
        height: 35px;
    }

    textarea {
        width: 600px;
        height: 200px;
    }

    .inquiry-table-button {
        margin-top: 20px;
        margin-bottom: 110px;
        width: 190px;
        height: 45px;
        border-radius: 5px;
        background-color: #121e2b;
        font-size: 16px;
        color: white;
    }

